@import 'messages.css';

#components-container {
  height: 80%;
}

.side-components {

  background-color: lightgray;
  height: 230px;
  margin: 1%;
  text-align: center;  
}

.side-components > article {
  overflow: auto;
}

.main{
  background-color: dimgray;
  text-align: center;
  max-height: 700px;
}

.row {
  height: 700px;
}

.footer {
  margin: 0 auto;
  justify-content: center;
  vertical-align: middle;
  padding-top: 10px;
}

/* action button bottom of page */
.action {
  width: 200px;
}

.container {
  max-width: 1000px !important;
}

/* styling for the friends section */
.friend-card {
  border: solid black 1px;
  padding: 2px;
  background-color: #6c757d;
  margin-bottom: 2px;
  border-radius: .25rem;
}

.newFriend:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

.friend-inline-el {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-button {
  position: relative;
  top: -4.5px;
  left: 2px;
  float: right;
}

body {
  font-family: fantasy, Arial, Helvetica, sans-serif;
  background-image: url("https://image.freepik.com/free-photo/composed-nuts-white-background_23-2147689608.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#searchInputTitle {
  color: #007bff;
  margin-right: 5px;
}

#nav-logo{
  height: 80px;
  width: 80px;
}